$distance_sm:15px;
$distance_md:35px;
$distance_lg:45px;
$distance_elg:60px;




$main_radius:10px;
$maint_transition:.3s;



$main_color:#00c4f9;
$main_color_transparent:hsl(194, 59%, 37% , 70%);
$main_dark_color:#277e98;
$font_p_color_sm:#a8a8a8;
$main_boxshadow:0 3px 15px -3px #111 ;



$big-font:50px;
$main-font:15px;
$lineheight:1.5;
$litterspacing:1.02px;
